<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>




   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Nuklear -->
      <factory
            uri="org.sheepy.vulkan.nuklear.model"
            class="org.sheepy.vulkan.nuklear.model.provider.NuklearItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated Nuklear -->
      <extender
            uri="org.sheepy.vulkan.model.process"
            class="org.sheepy.vulkan.nuklear.model.provider.NuklearItemProviderAdapterFactory$ProcessChildCreationExtender"/>
      <extender
            uri="org.sheepy.vulkan.model"
            class="org.sheepy.vulkan.nuklear.model.provider.NuklearItemProviderAdapterFactory$VulkanChildCreationExtender"/>
   </extension>
</plugin>
