<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated VSand -->
      <factory
            uri="org.sheepy.lily.vulkan.sand.model"
            class="org.sheepy.lily.vulkan.sand.model.provider.VSandItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated VSand -->
      <extender
            uri="org.sheepy.lily.vulkan.model.process"
            class="org.sheepy.lily.vulkan.sand.model.provider.VSandItemProviderAdapterFactory$ProcessChildCreationExtender"/>
      <extender
            uri="org.sheepy.lily.vulkan.model"
            class="org.sheepy.lily.vulkan.sand.model.provider.VSandItemProviderAdapterFactory$VulkanChildCreationExtender"/>
      <extender
            uri="org.sheepy.lily.core.model.presentation"
            class="org.sheepy.lily.vulkan.sand.model.provider.VSandItemProviderAdapterFactory$PresentationChildCreationExtender"/>
   </extension>

</plugin>
