<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated VSand -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.sheepy.vulkan.sand.model.presentation.VSandModelWizardID"
            name="%_UI_VSandModelWizard_label"
            class="org.sheepy.vulkan.sand.model.presentation.VSandModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VSandModelFile.gif">
         <description>%_UI_VSandModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated VSand -->
      <editor
            id="org.sheepy.vulkan.sand.model.presentation.VSandEditorID"
            name="%_UI_VSandEditor_label"
            icon="icons/full/obj16/VSandModelFile.gif"
            extensions="vsand"
            class="org.sheepy.vulkan.sand.model.presentation.VSandEditor"
            contributorClass="org.sheepy.vulkan.sand.model.presentation.VSandActionBarContributor">
      </editor>
   </extension>

</plugin>
